.container {
  max-width: 650px;
  margin-top: 60px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app {
  border: 1px solid rgb(168, 166, 166);
  border-radius: 10px;
  padding: 30px;
}

.emoji {
  font-size: 95px;
  margin-left: 35px;
  margin-top: -38px;
}

.ppt {
  margin-left: 28px;
}

.temp {
  font-size: 45px;
  font-weight: 600;
}

.emojis {
  margin-top: -5px;
  font-size: 35px;
  margin-left: 1px;
}

.forecast {
  margin-left: 65px;
}

.date {
  margin-top: 10px;
  margin-left: 50px;
}

.weekDays {
  margin-left: 4px;
  font-size: 18px;
}

.units {
  position: relative;
  top: -22px;
  text-decoration: none;
}

.humidityWind {
  line-height: 21px;
  font-family: "PT Serif", serif;
  font-size: 15px;
}

.forecast-temps {
  font-size: 15px;
}

.min-temp {
  opacity: 0.5;
}

.date {
  margin-left: 35px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.description {
  font-size: 16px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
}

.city {
  font-family: "Zen Antique", serif;
  font-size: 25px;
  font-weight: bold;
}

.forecast {
  font-family: "Zen Antique", serif;
}

.cities {
  font-family: "PT Serif", serif;
}
.date {
  font-family: "PT Serif", serif;
  font-size: large;
}

.time {
  font-family: "PT Serif", serif;
}

.footer {
  font-family: "PT Serif", serif;
}

.units {
  font-family: "PT Serif", serif;
}
